# Ignore CARLA build folder
CARLA0.9/

# Ignore cache folders
**/cache/
cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

carla_simulation code/slam_code/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS & system files
.DS_Store
Thumbs.db

# VSCode settings (optional, if you use it)
.vscode/
